img {
  width: 100%;
  object-fit: cover;
}

body {
  background-image: url("pexels-jess-bailey-designs-1097930.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  background-color: #faefeb;
  font-family: 'Nanum Gothic', sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
}

.class {
  font-size: 12px;
  position: absolute;
  bottom: 38px;
  left: 47%;
  width: 120px;
}

p {
  font-size: 12px;
  text-align: center;
}

.container {
  background-color: #faefeb;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
}

li:nth-child(even) {
  background-color: #f5f5f5;
}

li .task {
  flex-grow: 1;
}

li .actions {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

li:hover .actions {
  visibility: visible;
  opacity: 1;
}

li .actions button {
  margin-left: 5px;
  border-radius: 50%;
  padding: 5px;
  background-color: #ccc;
  color: white;
  border: none;
}

li .actions button.check {
  border-radius: 50%;
  padding: 4px;
  background-color: transparent;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

li .actions button.check::before {
  content: "\2713";
  font-size: 14px;
  color: #fff;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.done {
  text-decoration: line-through;
}
