img {
  width: 100%;
  object-fit: cover;
}

body {
  background-image: url("pexels-jess-bailey-designs-1097930.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  background-color: #faefeb;
  font-family: 'Nanum Gothic', sans-serif;
}

input {
	font-family: 'Nanum Gothic', sans-serif;
	height: 20px;
}

input:focus-visible {
	outline: #EFC3BD auto 1px;
}

.addbutton {
	height: 25px;
	cursor: copy; 
	background-color: #EFC3BD;
	border-radius: 4px;
	padding: 2px 8px;
	color: rgb(32, 31, 31);
	border: 1px solid rgb(133, 133, 133);
	font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: rgb(32, 31, 31);
}

.class {
  font-size: 12px;
  position: absolute;
  bottom: 38px;
  left: 47%;
  width: 120px;
}

p {
  font-size: 12px;
  text-align: center;
}

.container {
  background-color: #faefeb;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
}

li:nth-child(even) {
  background-color: #f5f5f5;
}

li .task {
  flex-grow: 1;
}

li .actions {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

li:hover .actions {
  visibility: visible;
  opacity: 1;
}

li .actions button {
  margin-left: 5px;
  border-radius: 50%;
  padding: 3px;
  background-color: #ccc;
  color: white;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer; 
  text-align: center;
}

li .actions button.check {
  border-radius: 50%;
  padding: 4px;
  background-color: transparent;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

li .actions button.check::before {
  content: "\2713";
  font-size: 14px;
  color: #fff;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.done {
  text-decoration: line-through;
}
